
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.cuerpo {
  text-align:center;  
  font-family:'Plok';
  font-weight: 500;
  font-size:2.2vw;
  overflow:hidden;
  color: #09182e;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.textoInicio {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.textoInicio:first-of-type {
  animation: showup 12s infinite;
}

.textoInicio:last-of-type {
  width:0vw;
  animation: reveal 12s infinite;
}

.textoInicio:last-of-type span {
  margin-left:-35vw;
  animation: slidein 12s infinite;
}

@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  60% {opacity:1;}
  100% {opacity:0;}
}

@keyframes slidein {
  0% { margin-left:-80vw; }
  20% { margin-left:-80vw; }
  35% { margin-left:0vw; }
  100% { margin-left:0vw; }
}

@keyframes reveal {
  0% {opacity:0;width:0vw;}
  20% {opacity:1;width:0vw;}
  30% {width:48vw;}
  60% {opacity:1;}
  100% {opacity:0;width:48vw;}
}

.video_background { 
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;	
	min-width: 100%; 
	min-height: 100%; 
	width: 100%; 
  height: 100%; 
  z-index: 0;
	overflow: hidden; 
}

.logo {
  width: 8vw;
  float: left;
  margin-right: 10%;
}

.logoProps {
  width: 5rem;
}

.fondo {
  background-color:rgb(236, 228, 223);
}

.fondoFooter{
  text-align: center;
}

.estilo-nav{
  color: #ffffff;
}

.contenedor-log{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dbwsjcrfc/image/upload/v1553220310/imagenes/ni%C3%B1a-estudiando.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor-reg{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-image: url("https://res.cloudinary.com/dbwsjcrfc/image/upload/v1553212147/imagenes/principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.barras{
  text-align: center;
  background: rgb(238, 96, 40);
  color: white;
  width: 100%; 
  border-radius: 20px;
  font-size:4vw;
}

.barra-principal{
  border: solid rgb(238, 96, 40) 1px;
  width:80%; 
  border-radius: 20px;
}

.barra-izquierda{
  padding-top: 2%;
  padding-left: 8%;
  font-size:3vw;
  color: rgb(238, 96, 40);
  line-height: 130%;
  width: 70%
}
.barra-derecha{
  padding-top: 0%;
  color: white;
  width: 30%;
}

.count-tutor-style{
  height: 60%;
  border-radius: 5px; 
  margin-top: 10%;
  color: #09182e;
}

.count-tutortext-style{
  font-size: 1.5vw; 
  text-align: center; 
  padding-left: 30px; 
  padding-right: 30px; 
  padding-top: 0%;
}

.count-tutorcount-style{
  font-size:3.5vw; 
  text-align: center; 
  padding-left: 30px; 
  padding-right: 30px; 
}

.estilo-login{
  border: solid orange 2px;  
  border-radius: 10px;  
  background: #FCD3AE; 
  color: black;
}

.estilo-reg{
  border: solid orange 2px;  
  border-radius: 10px;
  background: #FCD3AE; 
  color: black;
}

.avatar-enter{
  border: solid rgb(238, 96, 40) 5px;
  font-family: Plok;
}

.steps-content {
  margin-top: 16px;
  border:1px solid rgb(238, 96, 40);
  border-radius: 20px;
  background-color: rgb(236, 228, 223);
  min-height: 200px;
  padding-top: 4%;
  padding-right: 20%;
  padding-left: 20%;
}

.steps-action {
  margin-top: 24px;
}

.estilo-text-reg{
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 0%; 
  font-size: 2rem;
}
