
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.posicion {
  position: absolute;
  width: 100%;
  top: 25vw;  
  text-align: center;
}

.cuerpo {
  text-align:center;  
  font-family:'Plok';
  font-weight: 500;
  font-size:2.2vw;
  overflow:hidden;
  color: rgb(238, 96, 40);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

.textoInicio {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.textoInicio:first-of-type {
  animation: showup 20s infinite;
}

.textoInicio:last-of-type {
  width:0vw;
  animation: reveal 20s infinite;
}

.textoInicio:last-of-type span {
  margin-left:-35vw;
  animation: slidein 20s infinite;
}

@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  60% {opacity:1;}
  100% {opacity:0;}
}

@keyframes slidein {
  0% { margin-left:-80vw; }
  20% { margin-left:-80vw; }
  35% { margin-left:0vw; }
  100% { margin-left:0vw; }
}

@keyframes reveal {
  0% {opacity:0;width:0vw;}
  20% {opacity:1;width:0vw;}
  30% {width:48vw;}
  60% {opacity:1;}
  100% {opacity:0;width:48vw;}
}

.video_background { 
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;	
	min-width: 100%; 
	min-height: 100%; 
	width: 100%; 
  height: 100%; 
  z-index: 0;
	overflow: hidden; 
}

.logo {
  width: 8vw;
  float: right;
}

.logoProps {
  width: 5rem;
}

.fondo {
  background-color:rgb(224, 198, 183);
}

.fondoFooter{
  text-align: center;
}